/*1. Style général de la page */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header{
    background-color: #2c3e50;
    padding: 150px 0;  
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}
nav  a:hover {
    color:#3498db;
}

main{
    max-width: 800px; /* Aligne et limite la largeur du texte pour que ce soit agréable à lire */
    margin: 40px auto;/*Centre tout le bloc au milieu de l'écran*/
    padding: 20px;
    background-color: white; /* Donne un joli fond blanc pour faire ressortir le texte */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,05);/* Ajoute une ombre très légère et élégante*/
    border-radius: 8px; /* Arrondit légérement les angles*/
}

h1,h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

p{
    line-height: 1.6;
}

ul{
    padding-left: 20px;
}

li{
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    background-color: #2c3e50;
    color: white;
    font-size: 14px;
}